name: On Push
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - name: Fetch repository files
      uses: actions/checkout@master
      with:
        ref: '${{ github.event.deployment.ref }}'
    - name: Install npm dependencies
      run: npm install
    - name: Create branch and commit
      run: |
        git checkout -b production
        npm run build
        git add .
        git commit -m "Deploy"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: production
        force: true
